---
layout: default
---

{% if site.description and site.description != "" %}
<p class="post-meta" style="margin-bottom: 2.5em;">{{ site.description }}</p>
{% endif %}

<ul class="post-list">
  {% assign sorted_posts = site.posts | sort: "date" | reverse %}
  {% comment %} preview.sh ready 모드에서만 stage 로 거른다. 평소 빌드는 preview_stage 미설정이라 전체 노출. {% endcomment %}
  {% if site.preview_stage %}{% assign sorted_posts = sorted_posts | where: "stage", site.preview_stage %}{% endif %}
  {% for post in sorted_posts %}
  <li class="post-list__item">
    <div class="post-list__title">
      <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
    </div>
    {% if post.description %}
    <div class="post-list__desc">{{ post.description }}</div>
    {% endif %}
    <div class="post-list__date">
      <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%Y년 %m월 %d일" }}</time>
    </div>
  </li>
  {% endfor %}
</ul>
